.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .main-container {
    width: 1200px;
  }
}

.about-me {
  margin-bottom: 20px;
}

.about-me__profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

.about-me__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 10px;
}

.about-me__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 100%;
}

body {
  color: #595959;
  background-color: #f5f4fa;
  font-family: "Montserrat", sans-serif;
}

p {
  text-align: justify;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.education__list {
  list-style: none;
}

.education__item:not(:last-child) {
  margin-bottom: 20px;
}

.education__period-devider {
  color: #000000;
}

.education__institution {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: #1A6953;
  margin-bottom: 10px;
}

.education__profession {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.education__period {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: #a8a8a8;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15px;
}
@media screen and (min-width: 768px) {
  .main-content {
    width: 70%;
    padding: 30px 25px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main-content {
    padding: 30px 40px 30px;
  }
}

.main-content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 10px;
}

.projects {
  margin-bottom: 20px;
}

.projects__list {
  padding-left: 20px;
}

.projects__item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #000000;
}

.projects__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #595959;
}

.projects__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.85;
  letter-spacing: 0.03em;
  color: #1A6953;
  margin-right: 5px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.projects__link:hover {
  color: #fb6d3a;
}

.projects__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  margin-bottom: 2px;
}
.projects__link-container::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: rgba(89, 89, 89, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.git-hub__icon {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 5px;
}
.git-hub__icon:hover {
  background-color: #fb6d3a;
}

.sidebar,
.sidebar--mobile {
  background-color: #1B5E4B;
  padding: 30px 0 0;
}

.sidebar {
  display: none;
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
  }
}

.sidebar--mobile {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .sidebar--mobile {
    display: none;
  }
}

.photo-wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.contacts,
.tech-skills,
.soft-skills {
  padding: 0 30px;
  margin-bottom: 20px;
}

.sidebar__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: #ffffff;
  opacity: 0.8;
}

.tech-skills__list,
.soft-skills__list {
  padding-left: 15px;
}

.tech-skills__item,
.soft-skills__item {
  color: #fb6d3a;
}

.tech-skills__text,
.soft-skills__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work-experience {
  margin-bottom: 20px;
}

.work-experience__list {
  list-style: none;
}

.work-experience__item:not(:last-child) {
  margin-bottom: 10px;
}

.work-experience__list-achievment {
  padding-left: 20px;
}

.work-experience__profession {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 10px;
}

.work-experience__company {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #1A6953;
  margin-bottom: 10px;
}

.work-experience__time {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.work-experience__devider {
  color: #000000;
}

.work-experience__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */