@import "./utils/variables";
@import "./utils/mixins";


@import "./components/container";
@import "./components/about-me";
@import "./components/commonStyle";
@import "./components/education";
@import "./components/main-content";
@import "./components/projects";
@import "./components/sidebar";
@import "./components/work-experience";