body {
  color: $primary-text-color;
  background-color: $primary-shade-color;
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: justify;
}
ul, ol {
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  address {
    font-style: normal;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }