.main-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color: $primary-color;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba($secondary-text-color, 0.1);
    @media screen and (min-width: $tablet) {
      flex-direction: row-reverse;
    }
    @media screen and (min-width: $desktop) {
      width: 1440px;
    }
  }
  