.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    @media screen and (min-width: $tablet) {
      width: 70%;
      padding: 30px 25px 30px;
    }
    @media screen and (min-width: $desktop) {
      padding: 30px 50px 30px;
    }
  }
  
  .main-content__title {
  @include font (18px, 700, 1.5, 0.03em);
    color: $secondary-text-color;
    margin-bottom: 10px;
  }
  