@mixin transition ($property) {
    transition: $property $transition-duration $transition-timing-function;
    }

@mixin font ($font-size, $font-weight, $line-height, $letter-spacing) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    }  