    $primary-color: #ffffff;
    $primary-shade-color: #f5f4fa;
    $secondary-color: #1B5E4B;
    $tertiary-color: #a8a8a8;
    $primary-text-color: #595959;
    $secondary-text-color: #000000;
    $accent-color: #1A6953;
    $hover-color: #fb6d3a;
    

    // Animations
    $transition-duration: 250ms;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // Breakpoints
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;